.sectionThreeContainer {
  background-color: #011740;
  background-image: url("/public/images/circles.png");
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 5rem;
}

.contents h1,
.contents p {
  color: white;
  text-align: center;
}

.footer {
  width: 90%;
  position: absolute;
  bottom: 0;
}
