.sectionThreeContainer {
  background-color: #011740;
  background-image: url("/public/images/circles.png");
  position: relative;
  background-size: contain; /* or 'cover', depending on your design */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.sectionThreeContainer h1,
.sectionThreeContainer p {
  color: white;
}

.footer {
  width: 90%;
  position: absolute;
  bottom: 0;
}
