.buttonContainer {
  border-radius: 36.93px;
  padding-block: 0.8rem;
  padding-inline: 1.5rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
