.footerContainer {
  width: 90%;
  background-color: white;
  padding-top: 1rem;
  padding-inline: 4rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.footer {
  border-top: 1px solid #9f9f9f;
  border-bottom: 1px solid #9f9f9f;
  padding-block: 2rem;
}

.footerContainer span {
  color: #626262;
  text-align: left;
}

.footer h2,
.footer p {
  text-align: left;
}
